// Reset de estilos
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Imports
@import "variables";
@import "functions";
@import "mixins";
@import "fonts";

// Layout
@import "layout/header";
@import "layout/main";
@import "layout/footer";

// Components
@import "components/buttons";
@import "components/forms";
@import "components/status";
@import "components/tables";

// Base styles
body {
  font-family: $font-family;
  background-color: $background-color;
  color: $primary-color;
  line-height: 1.6;
}
